@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 1200px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

body {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

h1, .h1-style {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

h2, .h2-style {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-transform: capitalize;
  line-height: 34px;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.c1 {
  margin: 0px 0px 0px 0px;
  padding: 108px 15px 0px 15px;
  color: white;
}

.inner {
  height: 23px;
}

.inner2 {
  height: 130px;
}

.inner3 {
  height: 15px;
}

.container {
  max-width: 1200px;
}

.form {
  width: 400px;
  padding: 6px 5px 9px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 4px 4px 4px 4px;
  background-color: #fff;
  color: #7F7D8E;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 1px;
}

.form1 {
  padding: 6px 15px 7px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
  background-color: #f6f8f9;
  color: #7f7d8e;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #efeff1;
  align-self: center;
}

.bg {
  background-color: transparent;
  background-image: linear-gradient(180deg, #8667F7 0%, rgba(134, 103, 247, 0) 100%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -57px;
  margin-bottom: 0px;
  padding: 82px 0px 40px 0px;
}

.ul {
  color: white;
}

.box {
  margin: 20px 20px 20px 20px;
  height: 150px;
  width: 230px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #64ECF5 0%, #1CEBBC 100%);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 10px 20px 0px rgba(64, 236, 217, 0.5);
  text-align: center;
}

.nav {
  color: white;
}

.app {
  align-items: center;
  padding: 7px 15px 0px 115px;
}

.h21 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 34px;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  line-height: 44px;
  text-align: left;
  color: #34314B;
}

.h2111 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 34px;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  line-height: 44px;
  text-align: left;
  color: white;
}

.h211 {
  margin-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 34px;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  line-height: 44px;
  text-align: center;
  color: #34314B;
}

.h212 {
  margin-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 50px;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  line-height: 44px;
  text-align: left;
  color: #34314B;
}

.h2122 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 50px;
  font-family: Hind, sans-serif;
  letter-spacing: 0px;
  line-height: 44px;
  text-align: center;
  color: #34314B;
}

.h22 {
  color: #7F7D8E;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0px;
}

.h223 {
  margin: 15px 15px 15px 15px;
  color: #7F7D8E;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 25px;
  letter-spacing: 0px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.h23 {
  color: #54595f;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0px;
}

.h233 {
  color: #34314b;
  font-family: "Hind", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

.h234 {
  margin-left: 15px;
  text-align: left;
  color: #34314B;
  font-family: "Hind", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 29px;
  letter-spacing: 0px;
}

.h235 {
  color: #34314b;
  font-family: "Hind", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.left {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.item {
  font-family: "Hind", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 35px;
  letter-spacing: 0px;
}

.icon {
  font: normal normal normal 14px/1 'nc-icon-outline';
  color: #8667F7;
  font-size: 24px;
}

.button1 {
  width: 156px;
  height: 50px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 10px 20px 0px rgba(52, 49, 75, 0.3);
}

.button2 {
  background-image: url(app.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px 0px rgba(52, 49, 75, 0.3);
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
  border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
  border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

.flip-box {
  margin: 20px 20px 20px 20px;
  background-color: white;
  width: 230px;
  height: 150px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: white;
  color: black;
}

.flip-box-back {
  height: 150px;
  width: 230px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #64ECF5 0%, #1CEBBC 100%);
  box-shadow: 0px 10px 20px 0px rgba(64, 236, 217, 0.5);
  text-align: center;
  color: white;
  transform: rotateY(180deg);
}

.signup {
  text-align: center;
  font-family: "Hind", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 21px;
  letter-spacing: 0px;
  padding-top: 30px;
  float: none;
  margin: auto;
  background-color: transparent;
  background-image: linear-gradient(90deg, #5f45ea 0%, #8667f7 100%);
  color: #ffffff;
  padding: 9px 19px 10px 20px;
  margin: 0px 0px 0px 5px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 10px 20px 0px rgba(114, 86, 241, 0.5);
}

.in {
  padding: 6px 15px 7px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
  background-color: #f6f8f9;
  color: #7f7d8e;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #efeff1;
}

.wrapper {
  text-align: center;
  margin-top: 40px;
  letter-spacing: 20px;
  font-size: 20px;
}

.copy {
  margin-top: 40px;
  color: black;
  font-size: 15px;
  text-align: center;
}

section.pricing {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing .card {
  color: black;
  margin: 30px;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
}

.h111 {
  text-align: center;
  margin-top: 20px;
}

.im {
  text-align: center;
  margin-top: 40px;
}

.bg1 {
  background-color: transparent;
  background-image: linear-gradient(0deg, #8667F7 0%, rgba(134, 103, 247, 0) 100%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 13px 0px 10px 0px;
}

.box1 {
  height: 350px;
  width: 230px;
  background-color: transparent;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(52, 49, 75, 0.1);
  margin: 10px 15px 10px 15px;
  padding: 0px 0px 0px 0px;
}

.sp {
  margin-top: 140px;
}

.ap {
  background-color: black;
  color: black;
  opacity: 0;
  width: 156px;
  height: 50px;
  border-radius: 4px 4px 4px 4px;
  background-image: url(app1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px 0px rgba(52, 49, 75, 0.3);
}

.spa {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  color: black;
}

.btn-app-store {
  margin: 10px 10px 10px 10px;
  border-radius: 4px 4px 4px 4px;
  background: black;
  color: white;
  position: relative;
  height: 60px;
  padding-left: 55px;
  padding-right: 20px;
}

.btn-app-store i {
  font-size: 40px;
  position: absolute;
  left: 10px;
}

.btn-app-store .small {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.btn-app-store .big {
  display: block;
  text-align: left;
  font-size: 21px;
  line-height: 21px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/